/////// Configurations

exports.slack = {
	url: 'https://????.slack.com/',
	token: '????-yyyyyyyyyyyyyyyyyyyyyyyyy',
	taskmark: 'white_check_mark',
}

exports.jira = {
	enable: false,
	url: 'https://????.atlassian.net/',
	projectkey: '????',
	issuetype: 'Bug',
	user: '????@????.????',
	password: "????",
}

exports.redmine = {
	enable: false,
	key: '????',
	host: 'http://????.????.????.????/',
	project: '????',
	tracker: 'task',
}
